<h1>Search Results</h1>
<div class="main">
    <div class="home">
        <div class="row">
                <h1>Search term: <%= params[:search_term] %></h1>
        </div>

        <div class="row">
            <% for room in @rooms %>
            <div class="grid-third">
                <h3><%= room.name %></h3>
                <p>
                    <%= room.description %>
                </p>
                <h4><a href="/room/save/<%= room.id %>">Spara </a> </h4>
            </div>
                <% end %>
            <!--<div class="grid-third">
                <h3>Badrum 2</h3>
                <p>
                    Stilrent och praktisk, ibland blir mindre helt enkelt mer. Och tricket med en minimalistisk look är massor av smart förvaring.
                    Som den här kommoden – den är enkel och elegant och rymmer lika mycket som ett högskåp – särskilt med hjälp av några lådavdelare.
                </p>
                <h4><a href="/room/save">Spara </a> </h4>
            </div>
            <div class="grid-third">
                <h3>Badrum 3</h3>
                <p>
                    Utflugna barn = mer plats för avkoppling? När barnen flyttar hemifrån får du mer tid för dig själv – och kanske lite mer utrymme. Utifrån de förutsättningarna har vi skapat ett vackert badrum som ger dig den vardagslyx du har längtat efter

                </p>
                <h4><a href="/room/save">Spara </a> </h4>
            </div>                                          -->
        </div>
        </div>
    </div>
</div>