<%= render 'layouts/left_nav' %>
<div class="main">
	<div class="home">
		<div class="row">
			<div class="big-board">
				<h1>Bygg ditt drömhus.</br> <span class="bold">IDAG</span></h1>
			</div>
		</div>

		<div class="row">
			<div class="grid-third">
				<h3>Lorem Ipsum!</h3>
				<p>
					This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
					This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
					This is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
				</p>
			</div>
			<div class="grid-third">
				<h3>Lorem Ipsum!</h3>
				<p>
					This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
					This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
					This is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
				</p>
			</div>
			<div class="grid-third">
				<h3>Lorem Ipsum!</h3>
				<p>
					This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
					This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
					This is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsumThis is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum This is a text! You should read it! Lorem ipsum
				</p>
			</div>
		</div>

		<div class="row">
			<h1 class="headline">This is a fantastic idea! Is it free for sure?</h1>
		</div>

		<div class="row">
			<div class="grid-half">
				<h3>How does it work?</h3>
				<p>You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. You have to be insanely high amount of fantasy to get the desired features out of this website. Good luck, Ash. </p>
			</div>
			<div class="grid-half">
				<h3>What if I already have all pokémons?</h3>
				<p>Then it is time to move away from momie. And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more And lorem ipsim a bit more </p>
			</div>
		</div>
	</div>
</div>
