<div class="left-nav">
	<h1>Tools</h1>
	<div class="tools">
		<div class="tool">
			A
		</div>
		<div class="tool">
			B
		</div>
		<div class="tool">
			C
		</div>
		<div class="tool">
			D
		</div>
		<div class="tool">
			E
		</div>
		<div class="tool">
			F
		</div>
		<div class="tool">
			G
		</div>
		<div class="tool">
			H
		</div>
		<div class="tool">
			I
		</div>
		<div class="tool">
			J
		</div>
		<div class="tool">
			K
		</div>
		<div class="tool">
			L
		</div>
		<div class="tool">
			M
		</div>
		<div class="tool">
			N
		</div>
		<div class="tool">
			O
		</div>
		<div class="tool">
			P
		</div>
		<div class="tool">
			Q
		</div>
		<div class="tool">
			R
		</div>
		<div class="tool">
			S
		</div>
		<div class="tool">
			T
		</div>
		<div class="tool">
			U
		</div>
		<div class="tool">
			V
		</div>
		<div class="tool">
			W
		</div>
		<div class="tool">
			X
		</div>
	</div>
</div>

<div class="main">
	<div class="workspace">
		<h1>Workspace </h1>
	</div>
</div>

<div class="right-pane">
	<div class="components">
		<div class="component">
			
		</div>
	</div>
</div>
