
<div id="error">Error, invalid information</div>
<div id="success">Success! User created</div>
<form action="/user/new" method = "post">
    <h1>Please Register to save an object</h1>
    <fieldset>
        <label for="email">Email: </label>
        <input class="username" type="email" name="email" placeholder="Email@Example.com.." required autofocus>
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input class="password" type="password" name="password" placeholder="Password.." required>
    </fieldset>
    <fieldset>
        <label for="password_again">Password again: </label>
        <input class="password" type="password" name="password_again" placeholder="Password again.." required>
    </fieldset>
    <input type="hidden" name="object_id"  value="<%= params[:id] %>">
    <input type="hidden" name="not_json" value="true">
    <input name="authenticity_token" type="hidden" value="token_value">
    <fieldset>
        <input type="submit" id="submit" value="Sign up">
        <input type="reset" value="Reset">             
    </fieldset>
</form>