
* {
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  height: 70px;
  background-color: #222;
  width: 100%;
  float: left;
  .logo {
    float: left;
    width: 366px;
    height: 70px;
  }
  #search-form {
    width: 500px;
    height: 70px;
    float: left;
    .search-term {
      padding: 10px;
      width: 350px;
      margin-top: 18px;
      margin-left: 100px;
    }
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      float: right;
      background: #eee;
      border-bottom: 1px solid #fff;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    li {
      float: left;
    }
    .formwindow {
      border-right: 1px solid #ddd;
      -moz-box-shadow: 1px 0 0 #fff;
      -webkit-box-shadow: 1px 0 0 #fff;
      box-shadow: 1px 0 0 #fff;
    }
    #login-trigger {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      height: 25px;
      line-height: 25px;
      font-weight: bold;
      padding: 0 8px;
      text-decoration: none;
      color: #444;
      text-shadow: 0 1px 0 #fff;
    }
    #signup-trigger {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      height: 25px;
      line-height: 25px;
      font-weight: bold;
      padding: 0 8px;
      text-decoration: none;
      color: #444;
      text-shadow: 0 1px 0 #fff;
    }


    #login-trigger {
      -moz-border-radius: 3px 0 0 3px;
      -webkit-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      cursor: pointer;

      &:hover {
        background: #fff;
      }
    }
    #signup-trigger {
      -moz-border-radius: 3px 0 0 3px;
      -webkit-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      cursor: pointer;

      &:hover {
        background: #fff;
      }
    }
    #login .active, #signup a:hover {
      background: #fff;
    }
    #signup .active, #signup a:hover {
      background: #fff;
    }
    #login-content {
      display: none;
      position: absolute;
      top: 24px;
      right: 0;
      z-index: 999;
      background: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
      background-image: -webkit-linear-gradient(top, white, #eeeeee);
      background-image: -moz-linear-gradient(top, white, #eeeeee);
      background-image: -ms-linear-gradient(top, white, #eeeeee);
      background-image: -o-linear-gradient(top, white, #eeeeee);
      background-image: linear-gradient(top, white, #eeeeee);
      padding: 15px;
      -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      -moz-border-radius: 3px 0 3px 3px;
      -webkit-border-radius: 3px 0 3px 3px;
      border-radius: 3px 0 3px 3px;
    }
    li #login-content {
      right: 0;
      width: 250px;
    }

   #signup-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, white, #eeeeee);
    background-image: -moz-linear-gradient(top, white, #eeeeee);
    background-image: -ms-linear-gradient(top, white, #eeeeee);
    background-image: -o-linear-gradient(top, white, #eeeeee);
    background-image: linear-gradient(top, white, #eeeeee);
    padding: 15px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
    -moz-border-radius: 3px 0 3px 3px;
    -webkit-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
  }
  li #signup-content {
    right: 0;
    width: 250px;
  }
  }
  /*--------------------*/

  #login-form input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
    &:focus {
      background-color: #fff;
      border-color: #e8c291;
      outline: none;
      -moz-box-shadow: 0 0 0 1px #e8c291 inset;
      -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
      box-shadow: 0 0 0 1px #e8c291 inset;
    }
  }
  #signup-form input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
    &:focus {
      background-color: #fff;
      border-color: #e8c291;
      outline: none;
      -moz-box-shadow: 0 0 0 1px #e8c291 inset;
      -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
      box-shadow: 0 0 0 1px #e8c291 inset;
    }
  }

  /*--------------------*/

  .formwindow {
    .actions {
      margin: 10px 0 0 0;
    }
    #submit {
      background-color: #d14545;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
      background-image: -webkit-linear-gradient(top, #e97171, #d14545);
      background-image: -moz-linear-gradient(top, #e97171, #d14545);
      background-image: -ms-linear-gradient(top, #e97171, #d14545);
      background-image: -o-linear-gradient(top, #e97171, #d14545);
      background-image: linear-gradient(top, #e97171, #d14545);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      border: 1px solid #7e1515;
      float: left;
      height: 30px;
      padding: 0;
      width: 100px;
      cursor: pointer;
      font: bold 14px Arial, Helvetica;
      color: #fff;
      &:hover, &:focus {
        background-color: #e97171;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
        background-image: -webkit-linear-gradient(top, #d14545, #e97171);
        background-image: -moz-linear-gradient(top, #d14545, #e97171);
        background-image: -ms-linear-gradient(top, #d14545, #e97171);
        background-image: -o-linear-gradient(top, #d14545, #e97171);
        background-image: linear-gradient(top, #d14545, #e97171);
      }
      &:active {
        outline: none;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      }
      &::-moz-focus-inner {
        border: none;
      }
    }
    label {
      float: right;
      line-height: 30px;
      input {
        position: relative;
        top: 2px;
        right: 2px;
      }
    }
    #login {
      background-color: #d14545;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
      background-image: -webkit-linear-gradient(top, #e97171, #d14545);
      background-image: -moz-linear-gradient(top, #e97171, #d14545);
      background-image: -ms-linear-gradient(top, #e97171, #d14545);
      background-image: -o-linear-gradient(top, #e97171, #d14545);
      background-image: linear-gradient(top, #e97171, #d14545);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      border: 1px solid #7e1515;
      float: left;
      height: 30px;
      padding: 0;
      width: 100px;
      cursor: pointer;
      font: bold 14px Arial, Helvetica;
      color: #fff;
      &:hover, &:focus {
        background-color: #e97171;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
        background-image: -webkit-linear-gradient(top, #d14545, #e97171);
        background-image: -moz-linear-gradient(top, #d14545, #e97171);
        background-image: -ms-linear-gradient(top, #d14545, #e97171);
        background-image: -o-linear-gradient(top, #d14545, #e97171);
        background-image: linear-gradient(top, #d14545, #e97171);
      }
      &:active {
        outline: none;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      }
      &::-moz-focus-inner {
        border: none;
      }
    }
    label {
      float: right;
      line-height: 30px;
      input {
        position: relative;
        top: 2px;
        right: 2px;
      }
    }
    #error{
      background-color: lightcoral;
      display: none;
    }
    #success{
      background-color: lightgreen;
      display: none;
    }
  }
}