//
//
//=require_tree .
//

@font-face { font-family: OpenSans; src: url('/assets/OpenSans-Regular.ttf'); }
@font-face { font-family: OpenSansBold; src: url('/assets/OpenSans-Bold.ttf'); }
@font-face { font-family: OpenSansLight; src: url('/assets/OpenSans-Light.ttf'); }
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
html{
  height: 100%;
}
body{
  font-family: OpenSansLight !important;
  font-size: 10pt;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

header {
  height: 70px;
  background-color: #222;
  width: 100%;
  float: left;
  position: relative;
  z-index: 1000;
  .logo {
    float: left;
    width: 366px;
    height: 70px;
  }
  #search-form {
    width: 500px;
    height: 70px;
    float: left;
    margin-left: 17%;
    .search-term {
      padding: 10px;
      width: 350px;
      margin-top: 18px;
      float: left;
    }
    .search-submit {
      float: left;
      margin-top: 18px;
      padding: 10px;
      background-color: #ed8000;
      color: #fff;
      cursor: pointer;
    }
  }
  .utility-buttons {
    .util-btn{
      display: inline-block;
      *display: inline;
      *zoom: 1;
      height: 25px;
      padding: 0 8px;
      text-decoration: none;
      color: #fa9800;
      cursor: pointer;  
    }
    ul {
      margin: 25px 50px;
      padding: 0;
      list-style: none;
      position: relative;
      float: right;
    }
    li {
      float: left;
    }



    #login .active, #signup a:hover {
      background: #fff;
    }
    #signup .active, #signup a:hover {
      background: #fff;
    }
    #login-content {
      display: none;
      position: absolute;
      top: 24px;
      right: 0;
      z-index: 999;
      background: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
      background-image: -webkit-linear-gradient(top, white, #eeeeee);
      background-image: -moz-linear-gradient(top, white, #eeeeee);
      background-image: -ms-linear-gradient(top, white, #eeeeee);
      background-image: -o-linear-gradient(top, white, #eeeeee);
      background-image: linear-gradient(top, white, #eeeeee);
      padding: 15px;
      -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      -moz-border-radius: 3px 0 3px 3px;
      -webkit-border-radius: 3px 0 3px 3px;
      border-radius: 3px 0 3px 3px;
    }
    li #login-content {
      right: 0;
      width: 250px;
    }

    #signup-content {
      display: none;
      position: absolute;
      top: 24px;
      right: 0;
      z-index: 999;
      background: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
      background-image: -webkit-linear-gradient(top, white, #eeeeee);
      background-image: -moz-linear-gradient(top, white, #eeeeee);
      background-image: -ms-linear-gradient(top, white, #eeeeee);
      background-image: -o-linear-gradient(top, white, #eeeeee);
      background-image: linear-gradient(top, white, #eeeeee);
      padding: 15px;
      -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
      -moz-border-radius: 3px 0 3px 3px;
      -webkit-border-radius: 3px 0 3px 3px;
      border-radius: 3px 0 3px 3px;
    }
    li #signup-content {
      right: 0;
      width: 250px;
    }
  }
  /*--------------------*/

  #login-form input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
    &:focus {
      background-color: #fff;
      border-color: #e8c291;
      outline: none;
      -moz-box-shadow: 0 0 0 1px #e8c291 inset;
      -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
      box-shadow: 0 0 0 1px #e8c291 inset;
    }
  }
  #signup-form input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
    &:focus {
      background-color: #fff;
      border-color: #e8c291;
      outline: none;
      -moz-box-shadow: 0 0 0 1px #e8c291 inset;
      -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
      box-shadow: 0 0 0 1px #e8c291 inset;
    }
  }

  /*--------------------*/

  .formwindow {
    .actions {
      margin: 10px 0 0 0;
    }
    #submit {
      background-color: #d14545;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
      background-image: -webkit-linear-gradient(top, #e97171, #d14545);
      background-image: -moz-linear-gradient(top, #e97171, #d14545);
      background-image: -ms-linear-gradient(top, #e97171, #d14545);
      background-image: -o-linear-gradient(top, #e97171, #d14545);
      background-image: linear-gradient(top, #e97171, #d14545);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      border: 1px solid #7e1515;
      float: left;
      height: 30px;
      padding: 0;
      width: 100px;
      cursor: pointer;
      color: #fff;
      &:hover, &:focus {
        background-color: #e97171;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
        background-image: -webkit-linear-gradient(top, #d14545, #e97171);
        background-image: -moz-linear-gradient(top, #d14545, #e97171);
        background-image: -ms-linear-gradient(top, #d14545, #e97171);
        background-image: -o-linear-gradient(top, #d14545, #e97171);
        background-image: linear-gradient(top, #d14545, #e97171);
      }
      &:active {
        outline: none;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      }
      &::-moz-focus-inner {
        border: none;
      }
    }
    label {
      float: right;
      line-height: 30px;
      input {
        position: relative;
        top: 2px;
        right: 2px;
      }
    }
    #login {
      background-color: #d14545;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
      background-image: -webkit-linear-gradient(top, #e97171, #d14545);
      background-image: -moz-linear-gradient(top, #e97171, #d14545);
      background-image: -ms-linear-gradient(top, #e97171, #d14545);
      background-image: -o-linear-gradient(top, #e97171, #d14545);
      background-image: linear-gradient(top, #e97171, #d14545);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      border: 1px solid #7e1515;
      float: left;
      height: 30px;
      padding: 0;
      width: 100px;
      cursor: pointer;
      color: #fff;
      &:hover, &:focus {
        background-color: #e97171;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
        background-image: -webkit-linear-gradient(top, #d14545, #e97171);
        background-image: -moz-linear-gradient(top, #d14545, #e97171);
        background-image: -ms-linear-gradient(top, #d14545, #e97171);
        background-image: -o-linear-gradient(top, #d14545, #e97171);
        background-image: linear-gradient(top, #d14545, #e97171);
      }
      &:active {
        outline: none;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      }
      &::-moz-focus-inner {
        border: none;
      }
    }
    label {
      float: right;
      line-height: 30px;
      input {
        position: relative;
        top: 2px;
        right: 2px;
      }
    }
    #error{
      background-color: lightcoral;
      display: none;
    }
    #success{
      background-color: lightgreen;
      display: none;
    }
  } 
}
.left-nav {
  float: left;
  width: 240px;
  background-color: #ccc;
  min-height: 100% !important;
  padding: 10px;
  position: absolute;
  padding-top: 70px;
  z-index: 10;
  nav {
    float: left;
    ul {
      li{
        list-style: none;
        padding:5px 10px;
        a{
          text-decoration: none;
          color: #1286b2;
          padding:5px 10px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .workspace-btn {
    text-decoration: none;
    color: #ed8000;
    background-color: #222;
    padding: 8px;
    border-radius: 5px;
    margin: 15px;
    float: left;
    &:hover{
      background-color: #292929;
    }
  }
  .tools{
    float: left;
    width: 100%;
    .tool {
      float: left;
      width: 40px;
      height: 40px;
      background-color: #222;
      color: #fff;
      text-align: center;
      line-height: 40px;
      margin: 5px 5px 0px 5px;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.container {
  width: 100%;
  min-height: 100% !important;
  text-align: center;
  padding-bottom: 70px;
  height: auto;
}
.main {
  padding: 10px;
  width: 968px;
  margin: 0 auto;
  display: inline-block;
  h1{
    margin-bottom: 10px;
  }
  .messages {
    float: left;
    min-height: 100%;
    width: 300px;
    .msg-title{
      width: 100%;
      float: left;
      background-color: #222;
      padding: 4px;
      border-radius: 3px;
      font-size: 10pt;
      a{
        color: #ed8000;
        text-decoration: none;
        &:hover{
          color: #eee;
        }
      }
    }
    .msg-message {
      float: left;
      padding: 7px;
      text-align: left;
      background-color: #ddd;
      width: 100%;
      margin-bottom: 5px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      height: 70px;
      white-space: nowrap;
      overflow: hidden;
      .sender {
        padding-top: 10px;
        font-size: 8pt;
        font-style: italic;
        margin-top: 15px;
      }
    }
  }
  .current-msg{
    float: left;
    width: 590px;
    min-height: 100% !important;
    margin-left: 50px;
    .curr-msg-title {
      width: 100%;
      font-size: 10pt;
      padding: 15px;
      background-color: #222;
      color: #ddd;
      border-radius: 3px;
      float: left;
    }  
    .curr-msg-message {
      float: left;
      text-align: left;
      background-color: #ddd;
      width: 100%;
      min-height: 500px !important;
      padding: 5px;
     // height: 500px;
      position: relative;
      .sender {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-top: 10px;
        font-size: 8pt;
        font-style: italic;
        width: 100%;
      }
    }

  }
  form {
    margin: 50px auto;
    width: 600px;
    h1{
      text-align: center;
      margin-right: 50px;
    }
    fieldset {
      padding: 15px;
      label {
        float: left;
        clear: left;
        text-align: right;
        width: 100px;
        line-height: 50px;
      }
      textarea{
        border: 1px solid #cdcdcd;
        padding: 13px 7px;
        margin-left: 15px; 
        width: 400px;
        border-radius: 3px;
        float: left;
        resize: vertical;
        font-family: OpenSansLight;
        min-height: 200px;
      }
      input {
        float: left;
        &[type="text"], &[type="email"], &[type="password"] {
          border: 1px solid #cdcdcd;
          padding: 13px 7px;
          margin-left: 15px; 
          width: 400px;
          border-radius: 3px;
        }
        &[type="submit"], &[type="reset"]{
          padding: 7px 5px;
          width: 190px;
          height: 40px;
          margin-bottom: 5px;
          cursor: pointer;
          border-radius: 3px;
        }
        &[type="reset"]{
          background-color: #222;
          color: #eee;
          
        }
        &[type="submit"]{
          background-color: #ed8000;
          color: #eee;
          margin-left: 115px;
          margin-right: 20px;
        }
      }
    }
  }

  .home {


    .row {
      float: left;
      width: 100%;
      margin: 15px 0;
      .big-board {
        width: 98%;
        margin: 0 auto;
        background: #ddd;
        border-radius: 15px;
        padding: 20px 0;
        h1{
          text-align: center;
          font-size: 36pt;
          color: #222;
          font-family: OpenSans;
          .bold {
            font-family: OpenSansBold;
          }
        }
      }

      .headline {
        float: left;
        font-family: OpenSans;
      }

      .grid-half{
        width: 48%;
        min-height: 100px;
        float: left;
        &:nth-child(2n){
          float: right;
        }
        p{
          text-align: justify;
          text-justify: newspaper;
        }
      }

      .grid-third {
        width: 31%;
        min-height: 100px;
        float: left;
        &:nth-child(3){
          float: right;
        }
        &:nth-child(2){
          float: left;
          margin-left: 35px;
        }
        p{
          text-align: justify;
          text-justify: newspaper;
        }
      }
    }
  }
}

.right-pane {
  float:right;
  width: 240px;
  background-color: #ccc;
  font-size: 10pt;
  position: absolute;
  z-index: 100;
  right:0;
  top: 0;
  min-height: 100% !important;
  padding-top: 70px;
  .messages, .orders, .objects {
    float: left;
    height: 300px;
    width: 100%;

    h3 {
      text-align: center; 
      border-top: 1px solid #bbb;
    }
  }
  .messages {
    .message {
      float: left;
      padding: 7px 5px;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 95%;

      a{
        color: #1286b2;
      }
      span {
        float: left;  
        &:first-child {
          font-family: OpenSansBold;
          font-style: normal;
          width: 100%;
          text-align: left;

        }
      }
    }
  }

  .orders {
    .order {
      float: left;
      padding: 7px 5px;
      width: 100%;
      .product {
        color: #1286b2;
        &:hover {
          cursor: pointer;
        }
      }
      .cost {
        float: right;
      }
    }
  }

  .objects {
    .object {
      float: left;
      padding: 5px 7px;
      width: 100%;
      span{
        color: #1286b2; 
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 70px;
  float: left;
  background-color: #222;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  p{
    color: #ccc;
    text-align: center;
    line-height: 70px;

  }
}