<h1>Send Message</h1>
<form id="message-form">
    <fieldset id="message-form">
        <input class="rubrik" type="text" name="title" placeholder="Rubrik" required>
        <input class="meddelande" type="text" name="message" placeholder="Type your message" required>
        <input name="authenticity_token" type="hidden" value="token_value">
    </fieldset>
    <fieldset class="actions">
        <input type="submit" id="send" value="send">
    </fieldset>
</form>
<div id="success">Message sent!</div>
<div id="error">Message failed</div>
</div>
</li>