<form id="message-form">
	<h1>Send Message</h1>
	<fieldset>
		<label for="receiver">To: </label>
		<input class="receiver" type="text" name="receiver" value="Börje Byggman" disabled="disabled">
	</fieldset>

	<fieldset>
		<label for="title" >Title: </label>
	    <input class="rubrik" type="text" name="title" placeholder="Title.." required autofocus>
	</fieldset>

	<fieldset>
	    <label for="message">Message: </label>
	    <textarea class="meddelande" type="text" name="message" placeholder="Type your message.." required></textarea>
    </fieldset>

	<input name="authenticity_token" type="hidden" value="token_value">

	<fieldset>
		<input type="submit" id="send" value="Send">
		<input type="reset" id="reset" value="Reset">	    
    </fieldset>
</form>
<div id="success">Message sent!</div>
<div id="error">Message failed</div>

