<h1>Hantverkare</h1>
<div class="hantverkare-plural">
    <div class="hantverkare">
        <img src="http://www.tradesworkforme.ca/wp-content/uploads/2011/08/Nena-Sheppard-69x69.jpg" alt="BILD"/>
        <div class="hantverkare-title">Börje Byggman</div>
        <div class="hantverkare-desc">
           Börje Byggman är en privatägd byggfirma med kvalité som huvudmål. 
       </div>
       <a class="btn" href="/hantverkare/message">Skicka meddelande </a>
    </div>

    <div class="hantverkare">
        <img src="http://www.tradesworkforme.ca/wp-content/uploads/2011/08/Nena-Sheppard-69x69.jpg" alt="BILD"/>
        <div class="hantverkare-title">Snickare Bengt</div>
        <div class="hantverkare-desc">
           Snickare Bengt är ett företag som har många års erfarenhet!
       </div>
       <a class="btn" href="/hantverkare/message">Skicka meddelande </a>
    </div>

    <div class="hantverkare">
        <img src="http://www.tradesworkforme.ca/wp-content/uploads/2011/08/Nena-Sheppard-69x69.jpg" alt="BILD"/>
        <div class="hantverkare-title">Snickare Bengt</div>
        <div class="hantverkare-desc">
           Snickare Bengt är ett företag som har många års erfarenhet!
       </div>
       <a class="btn" href="/hantverkare/message">Skicka meddelande </a>
    </div>

    <div class="hantverkare">
        <img src="http://www.tradesworkforme.ca/wp-content/uploads/2011/08/Nena-Sheppard-69x69.jpg" alt="BILD"/>
        <div class="hantverkare-title">Snickare Bengt</div>
        <div class="hantverkare-desc">
           Snickare Bengt är ett företag som har många års erfarenhet!
       </div>
       <a class="btn" href="/hantverkare/message">Skicka meddelande </a>
    </div>

    <div class="hantverkare">
        <img src="http://www.tradesworkforme.ca/wp-content/uploads/2011/08/Nena-Sheppard-69x69.jpg" alt="BILD"/>
        <div class="hantverkare-title">Snickare Bengt</div>
        <div class="hantverkare-desc">
           Snickare Bengt är ett företag som har många års erfarenhet!
       </div>
       <a class="btn" href="/hantverkare/message">Skicka meddelande </a>
    </div>

    <div class="hantverkare">
        <img src="http://www.tradesworkforme.ca/wp-content/uploads/2011/08/Nena-Sheppard-69x69.jpg" alt="BILD"/>
        <div class="hantverkare-title">Snickare Bengt</div>
        <div class="hantverkare-desc">
           Snickare Bengt är ett företag som har många års erfarenhet!
       </div>
       <a class="btn" href="/hantverkare/message">Skicka meddelande </a>
    </div>
</div>