<h1>Hantverkare</h1>
<div class="main">
    <div class="home">
        <div class="row">
        </div>
        <div class="grid-third">
            <h3>Snickare Bengt</h3>
            <p>
             Snickare Bengt är ett företag som har många års erfarenhet!
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
        <div class="grid-third">
            <h3>Byggare Bob</h3>
            <p>
                Bob och hans bolag kommer alltid i tid, och fuskbygger aldrig!
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
        <div class="grid-third">
            <h3>Frasses Kakel</h3>
            <p>
               Frasses Kakel är ett solklart val för dig som vill ha det kaklat.
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
        <div class="grid-third">
            <h3>Ärkesnickarn AB</h3>
            <p>
                Ärkesnickarn AB är väletablerat i hela Sverige och har bara nöjda kunder.
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
        <div class="grid-third">
            <h3>Jonnys bygg</h3>
            <p>
                 Jonnys bygg är kanske inte det bästa, men bra pris är garanterat!
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
        <div class="grid-third">
            <h3>Finska snickarvreden</h3>
            <p>
                 Finska snickarveden är ett solklart val för dig som vill bygga en bastu!
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
        <div class="grid-third">
            <h3>Tommys Elektrikerfirma AB</h3>
            <p>
                Tommys elektrikerfirma lägger kabel som ingen annan.
            </p>
            <h4><a href="/hantverkare/message">Skicka meddelande </a> </h4>
        </div>
    </div>
</div>
</div>
</div>