<div class="left-nav">
	<h1>Settings</h1>
	<nav>
		<ul>
			<li><a href="#SECTION_OF_PAGE">Inställning #1</a></li>
			<li><a href="#SECTION_OF_PAGE">Inställning #2</a></li>
			<li><a href="#SECTION_OF_PAGE">Utställning #3</a></li>
			<li><a href="#SECTION_OF_PAGE">Sneställning #4</a></li>
			<li><a href="#SECTION_OF_PAGE">Avställning #5</a></li>
		</ul>			
	</nav>
	<a href="/workspace" class="workspace-btn" >Go to Workspace</a>
</div>




