<header>
    <div class="logo">
       <%= link_to(image_tag("logo.png", :alt => "Logotype"), "/") %>
    </div>
    
    <form id="search-form" action="/search" method="post">
        <input type="text" class="search-term" name="search_term" placeholder="Search term...">
        <input type="submit" class="search-submit" value="Search">
        <input name="authenticity_token" type="hidden" value="token_value">
    </form>
    
    <div class="utility-buttons">
        <ul>
        <% if current_user.nil? %>
            <li class="formwindow">
                <a id="login-trigger" class="util-btn">
                    Login
                </a>
                <div id="login-content">
                    <h2>Login</h2>
                    <form>
                        <fieldset id="login-form">
                            <input class="username" type="email" name="email" placeholder="Your email address" required>
                            <input class="password" type="password" name="password" placeholder="Password" required>
                        </fieldset>
                        <fieldset class="actions">
                            <input type="submit" id="login" value="Log in">
                            <input id="cancel-login" value="Cancel">
                        </fieldset>
                    </form>
                </div>
            </li>
            <li class="formwindow">
                <a href="/register" id="signup-trigger"  class="util-btn">
                Sign up
                </a>
            </li>
            <% else %>
            <li>
                <a href="/logout" class="logout util-btn">Logout</a>
            </li>
            <% end %>
        </ul>
    </div>
</header>